html {
    background-color: rgb(41, 41, 41);
}
.storytext {
    border-bottom-color: rgb(85, 85, 85);
    border-left-color: rgb(85, 85, 85);
    border-right-color: rgb(85, 85, 85);
    border-top-color: rgb(85, 85, 85);
    color: rgb(238, 238, 238);
    display: block;
    font-family: Verdana;
    font-size: 2.7rem;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    max-height: 999999px;
    overflow-wrap: break-word;
    text-align: left;
    padding-left: 10.0rem;
    padding-right: 10.0rem;
    text-align: center;
}

.storytext img {
    max-width: 100%;
    height: auto;
}

/* The sidebar menu */
.sidenav, .sidenav-right {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
    display: flex;
    align-items: center;
}

/* The navigation menu links */
.sidenav a:before {
    width: 100%;
    height: 100%;
    margin: auto;
    content: '<';
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidenav-right a:before  {
    width: 100%;
    height: 100%;
    margin: auto;
    content: '>';
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav a, .sidenav-right a {
    font-size: 4rem;
    color: white;
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: absolute;
    margin: auto;
    display: flex;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav-right a:hover {
    color: #f1f1f1;
}


.sidenav-right {
    left: unset;
    right: 0;
}

.bbCodeBlock {
    margin: .75em 0;
    background: rgba(0,0,0,0.91);
    border: 1px solid #374e72;
}

.bbCodeBlock-title, .bbCodeBlock-title a {
    padding: 5px 10px;
    color: #fff;
    background: #415c87;
    text-decoration: none;
}

.bbCodeBlock-content {
    position: relative;
    padding: 5px 10px;
}